.sectionTwo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 24px;
}

.sectionTwo .titleInterests {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titleInterests .interests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.titleInterests .interests span {
  border: 1px solid rgb(27, 27, 27);
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
}


@media (max-width: 425px) {
  .sectionTwo {
    margin: 24px 15px;
  }
}
