.container {
  width: 100%;
  max-width: 1000px;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 50px;
}


/* Media Querys */
@media (max-width: 425px) {
  .container {
    margin: 0px !important;
  }
}